SQL_schema = your_schema_here
SQL_host = your_host_here
SQL_user = your_user_here
SQL_password = your_password_here
SQL_port = your_port_here
weather_api_key = your_weather_api_key_here
flight_api_key = your_flight_api_key_here